<div class="wrapper" id="connected">
    <!-- Sidebar Holder -->
    <nav id="sidebar">

        <div class="sidebar-header">
            <img src="assets/img/logo-inpe.png" class="material-icons md-light md-inactive" alt="portugues">&nbsp;
            <img src="assets/img/logo-cptec.png" height="31px" width="62" class="material-icons md-light md-inactive"
                alt="portugues">&nbsp;
            <img src="assets/img/logo_fapesp_branco_pt_alta.png" height="30px" width="62px"
                class="material-icons md-light md-inactive" alt="portugues">&nbsp;
            <img src="assets/img/terrama2_logo_whit.png" height="42px" width="42px"
                class="material-icons md-light md-inactive" alt="portugues">
        </div>

        <!-- ferramentas gerais -->
        <ul class="list-unstyled components connected list">
            <li *ngFor="let layer of modelLayer">
                <a href="#layer{{ layer.id }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="material-icons configura">settings</i> {{ layer.name }}
                    <div class="fontecamada">Fonte da camada: {{ layer.fonte }}</div>
                </a>
                <div class="material-switch pull-right">
                    <input id="{{ layer.name }}" name="someSwitchOption001" (click)="setLayerType(layer.name)" type="checkbox" />
                    <label for="{{ layer.name }}" class="bg-white"></label>
                </div>

                <ul class="collapse list-unstyled" id="layer{{ layer.id }}">
                    <li>
                        <div class="fe-camadas">
                            <button type="button" class="btn" (click)="activeLayer(layer.name)"><i
                                    class="material-icons md-dark">swap_vert</i></button>
                            <button type="button" class="btn" (click)="LegendaSidebar = true"
                                (click)="legenda(layer.paramsLayer,layer.url)"><i
                                    class="material-icons md-dark">palette</i></button>
                            <button type="button" class="btn"><i
                                    class="material-icons md-dark md-inactive">add_location</i></button>
                            <button type="button" class="btn"><i
                                    class="material-icons md-dark">brightness_6</i></button>
                        </div>

                    </li>

                </ul>
            </li>
        </ul>

        <div class="ferramentas">
            <dfn data-info="Dados Analises">
                <button type="button" class="btn"><i class="material-icons md-dark md-inactive"> <img
                            src="assets/img/icon-notes.png"></i></button>
            </dfn>
            <dfn data-info="Mapas">
                <button type="button" class="btn"><i class="material-icons md-dark md-inactive"> <img
                            src="assets/img/icon-brasil.png"></i></button>
            </dfn>
            <dfn data-info="Sobre">
                <button type="button" class="btn"><i class="material-icons md-dark md-inactive"> <img
                            src="assets/img/icon-help.png"></i></button>
            </dfn>
        </div>

        <ul class="list-unstyled CTAs">
            <p-accordion>
                <p-accordionTab header="Analise">
                    <div class="ui-g">
                        <div class="ui-g-12">
                            <a href="#" class="btn btn-primary btn-success" (click)="visibleSidebar5 = true">Análise Mensal</a>
                        </div>
                        <div class="ui-g-12">
                            <a href="#" class="btn btn-primary btn-success" (click)="visibleSidebar5 = true">Análise Diária</a>
                        </div>
                        <div class="ui-g-12">
                            <a href="#" class="btn btn-primary btn-success" (click)="visibleSidebar5 = true">Análise 3horas</a>
                        </div>
                        <div class="ui-g-12">
                            <a href="#" class="btn btn-primary btn-success" (click)="layer_sidebar = true">Camadas</a>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Analise Diaria">
                        <ul class="list-unstyled CTAs">
                                <li><a href="#" class="btn btn-primary btn-success" (click)="visibleSidebar5 = true">PORTAL SIGMA SMH 1.0 - CHUVA</a></li>
                            </ul>
                </p-accordionTab>
            </p-accordion>
            <br/>
        </ul>
        <ul class="list-unstyled CTAs">
            <li><a href="#" class="btn btn-primary btn-success" (click)="visibleSidebar5 = true">PORTAL SIGMA SMH 1.0 - CHUVA</a></li>
        </ul>
    </nav>

    <!-- Menu superior -->
    <div id="content">
        <nav class="navbar navbar-expand-lg materialnav navbar-header">
            <button class="btn btn-material navbar-btn " type="button" data-toggle="collapse" id="sidebarCollapse"
                data-target="#navbar" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="material-icons menuicon">menu</i>
            </button>
            <a class="navbar-brand" href="#"><span class="amarelo">SIGMA SMH 1.0 - </span><span
                    class="verde">CHUVA</span></a>
            <div class="collapse navbar-collapse justify-content-between">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">| Sistema de Monitoramento Hidrometeorológico</a>
                </div>
                <ul class="navbar-nav  navbar-right">
                </ul>
            </div>
        </nav>
        <div class="container-fluid mapa">
            <div id="map" class="map"></div>
        </div>
    </div>
</div>
<!-- slide -->
<!-- ----------------------------------------- -->
<!-- / container -->
<!-- Baselayers -->
<div class="btnbaselayer">
    <div class="baselayer custom-radios" (click)="setMapType()">
        <i class="fa fa-clone"></i>
        <ul>
            <li class="icon">
                <p-radioButton name="osm" value="osm" label=" Google Satelite " [(ngModel)]="setMap"
                inputId="preopt1"></p-radioButton>
                <label for="radio1"><span></span></label>
            </li>
            <li class="icon">
                <p-radioButton name="Watercolor" value="Watercolor" label=" Watercolor " [(ngModel)]="setMap"
                    inputId="preopt3"></p-radioButton>
                <label for="radio3"><span></span></label>
            </li>
            <li class="icon">
                <p-radioButton name="GEBCO" value="GEBCO" label="GEBCO" [(ngModel)]="setMap"
                    inputId="preopt5"></p-radioButton>
                <label for="radio4"><span></span></label>
            </li>
            <li class="icon">
                <p-radioButton name="Toner" value="Toner" label=" Toner " [(ngModel)]="setMap"
                    inputId="preopt4"></p-radioButton>
                <label for="radio4"><span></span></label>
            </li>
            <li class="icon">
                <p-radioButton name="Terrain" value="Terrain" label=" Terrain " [(ngModel)]="setMap"
                    inputId="preopt5"></p-radioButton>
                <label for="radio4"><span></span></label>
            </li>
        </ul>
    </div>
</div>


<!-- fim -->
<!--Footer-->
<footer class="footer">
    <p>© 2019<a href="#"> DSA SMH </a></p>
</footer>
<!--/.Footer-->


<!-- slider filtro -->
<p-sidebar [(visible)]="filtro_sidebar" position="right" [baseZIndex]="10000">
    <h5 style="font-weight:normal">Filtro</h5>

    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a Cidade" optionLabel="nome1"
        [showClear]="true"></p-dropdown>
    <p>
        <button pButton type="button" (click)="salvar()" label="Buscar" class="ui-button-success"></button>
        <button pButton type="button" (click)="filtro_sidebar = false" label="Fechar"
            class="ui-button-secondary"></button>
</p-sidebar>

<!-- slide teste -->
<p-sidebar [(visible)]="buris" position="right" [fullScreen]="true" [baseZIndex]="10000">
    <h5 style="font-weight:normal">Filtro</h5>


</p-sidebar>


<p-sidebar [(visible)] = "layer_sidebar" position="left" [baseZIndex]="10000">
    <h5 style="font-weight:normal">Layer</h5>
    <nav id="sidebar">
        <ul class="list-unstyled components connected list">
            <li *ngFor="let layer of jsonObj">
                <a href="#layer{{ layer.id }}" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="material-icons configura">settings</i> {{ layer.name }}
                    <div class="fontecamada">Fonte da camada: TerraMA Local</div>
                </a>
                <div class="material-switch pull-right">
                    <input id="{{ layer.layername }}" name="someSwitchOption{{ layer.id }}" (click)="layer.setVisible()" type="checkbox" />
                    <label for="{{ layer.layername }}" class="bg-white"></label>
                </div>
                <ul class="collapse list-unstyled" id="layer{{ layer.id }}">
                    <li>
                        <div class="fe-camadas">
                            <button type="button" class="btn" (click)="activeLayer(layer)"><i class="material-icons md-dark">swap_vert</i></button>
                            <button type="button" class="btn" (click)="LegendaSidebar = true" (click)="legenda(layer)"><i class="material-icons md-dark">palette</i></button>
                            <button type="button" class="btn"><i class="material-icons md-dark md-inactive">add_location</i></button>
                            <button type="button" class="btn"><i class="material-icons md-dark">brightness_6</i></button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <button pButton type="button" (click)="salvar()" label="Buscar" class="ui-button-success"></button>
    <button pButton type="button" (click)="filtro_sidebar = false" label="Fechar" class="ui-button-secondary"></button>
</p-sidebar>


<!-- info camadas  -->
<p-sidebar [(visible)]="LegendaSidebar" position="right" [baseZIndex]="10000">
    <h5 style="font-weight:normal">Legenda</h5>
    <div id="info">&nbsp;</div>
</p-sidebar>

<!-- Analise de dados  -->
<p-sidebar [(visible)]="visibleSidebar5" [fullScreen]="true" [baseZIndex]="10000">
    <app-analise-mensal></app-analise-mensal>
</p-sidebar>